<mat-sidenav-container class="sidenav-container"  *ngIf="navigation.isVisible()">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div id="sideNavigation">
          <button mat-icon-button [matMenuTriggerFor] = "menu" class="routingLinks">
              <i class="material-icons md-36">
                menu
              </i>
          </button>
      </div>

      <span id="storeName">Jorkata's Online Store</span>

      <span class="spacer"></span>

      <div class="iconMenu">
          <a routerLink="/" routerLinkActive="active" class="routingLinks">
            <i class="material-icons md-36">
              home
            </i>
          </a>

        <a routerLink="/favourites" routerLinkActive="active" class="routingLinks">
          <i class="material-icons md-36">
            favorite
          </i>
        </a>

        <a routerLink="/cart" routerLinkActive="active" class="routingLinks">
          <i class="material-icons md-36">
            shopping_cart
          </i>
        </a>

        <a [matMenuTriggerFor] = "menu" class="routingLinks" id="endIcon"> 
            <i class="material-icons md-36">
                supervised_user_circle
            </i>      
        </a>  
        <mat-menu #menu="matMenu">
            <a routerLink="/sign-up" routerLinkActive="active" mat-menu-item>
              <mat-icon>person_add</mat-icon>
              <span class="loginMenuItem">Sign-Up</span>
            </a>

            <a routerLink="/login" routerLinkActive="active" mat-menu-item>
              <mat-icon>how_to_reg</mat-icon>
              <span class="loginMenuItem">Login</span>
            </a>
        </mat-menu>
      </div>    
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
