<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div id="sideNavigation">
          <button mat-icon-button [matMenuTriggerFor] = "menu" class="routingLinks">
              <i class="material-icons md-36">
                menu
              </i>
          </button>
      </div>

      <span id="storeName">Jorkata's Online Store</span>

      <span class="spacer"></span>

      <div class="iconMenu">
        <a routerLink="/favourites" routerLinkActive="active" class="routingLinks">
          <i class="material-icons md-36">
            favorite
          </i>
        </a>

        <a routerLink="/cart" routerLinkActive="active" class="routingLinks">
          <i class="material-icons md-36">
            shopping_cart
          </i>
        </a>

        <a routerLink="/login" routerLinkActive="active" class="routingLinks" id="endIcon">       
          <i class="material-icons md-36">
            supervised_user_circle
          </i>  
        </a>  
      </div>    
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
