.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.spacer {
  flex: auto;
}

.routingLinks {
  color: white;
  margin-right: 20px;
  
  &:hover{
    color: #99bbff;
  }
}

.material-icons.md-36 {
  font-size: 36px;
} 

.loginMenuItem {
  margin-left: 10px;
}

#storeName {
  font-size: 24px;
}

#endIcon {
  padding-bottom: 10px;
}