<mat-sidenav-container class="sidenav-container"  *ngIf="navigation.isVisible()">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div id="sideNavigation">
          <button mat-icon-button [matMenuTriggerFor] = "menu" class="routingLinks">
              <i class="material-icons md-36">
                menu
              </i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
      </div>

      <span id="storeName">Jorkata's Online Store</span>

      <span class="spacer"></span>

      <div class="iconMenu">
          <a routerLink="/home" routerLinkActive="active" class="routingLinks">
            <i class="material-icons md-36">
              home
            </i>
          </a>

        <a routerLink="/favourites" routerLinkActive="active" class="routingLinks">
          <i class="material-icons md-36">
            favorite
          </i>
        </a>

        <a routerLink="/cart" routerLinkActive="active" class="routingLinks">
          <i class="material-icons md-36">
            shopping_cart
          </i>
        </a>

        <a [matMenuTriggerFor] = "userMenu" class="routingLinks" id="endIcon">
            <i *ngIf="isUserLoggedIn()" class="material-icons md-36">
              verified_user
            </i>
            <i *ngIf="!isUserLoggedIn()" class="material-icons md-36">
                supervised_user_circle
            </i>
        </a>
        <mat-menu #userMenu="matMenu">
          <a *ngIf="!isUserLoggedIn()" routerLink="/sign-up" routerLinkActive="active" mat-menu-item>
            <mat-icon>person_add</mat-icon>
            <span class="loginMenuItem">Sign-Up</span>
          </a>

          <a *ngIf="!isUserLoggedIn()" routerLink="/login" routerLinkActive="active" mat-menu-item>
            <mat-icon>how_to_reg</mat-icon>
            <span class="loginMenuItem">Login</span>
          </a>

          <a *ngIf="isUserLoggedIn()" (click)="logoutUser()" routerLink="/home" routerLinkActive="active" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span class="loginMenuItem">Logout</span>
          </a>
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
